@media screen and (max-width: 1024px){
    .site-blocks-cover .header_illustration {
        display: none;
    }
    .container_home {
        max-width: inherit !important;
    }
    .col-lg-4.mr-auto {
        max-width: 80%;
        flex: inherit;
        margin-right: auto !important;
        margin-left: auto !important;
        
        h1 {
            display: flex;
            justify-content: center;
            font-size: 3.5em;
        }
        p {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        } 
        div {
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .site-blocks-cover, .site-blocks-cover > .container > .row {
        height: calc(50vh);
    }
}

@media screen and (max-width: 992px){
    .site-section.create_container .img-fluid, .img-fluid.vertical-fluid.commissions-fluid {
        display: none;
    }
    .img-fluid{
        max-width: 20%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 0px;
        display: block;
    }
    #home-section .flex_twitter {
        display: block;
    }
}

@media screen and (max-width: 736px){
    .col-lg-4.mr-auto {
        h1 {
            font-size: 2.1em;
        }
    }
}